*{
    margin: 0;
    padding: 0;

}



.container {
    width: 607px;
    height: 629px;
    margin: auto;
    margin-top: 15px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}
.top-bar{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    gap: 2%;
};
.city-input{
    padding: 2%;
    border-radius:30px;
    outline: none;
    background-color: #ebfffc;
    padding-left: 30px;
    font-size: 15px;
};

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebfffc;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    cursor: pointer;
};
.image-deg{
    padding-top: 7%;
    padding-left: 35%;
};
.weather-temp{
    color: white;
    padding-left: 3%;
    font-size: 3.5rem;
    padding-top: 0%;
}

.weather-location{
    padding-left: 3%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 200px;
}

span {
    font-size: 2.3rem;
}



//  ************ humidity and wind style starts here ************************** //

.humidty-wind {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    gap: 35%;
    color: white;
};

.humid-wind-disc{
    display: flex;
    gap: 12%;
}


.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
};